.jounal1{
    margin-left: 40px;
    display: flex;
    overflow-x: hidden;
}
.jrnalLeft{
    width: 60%;
}
.jrnlText{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}
.jrnlText h1{
    color:rgba(247, 108, 36, 1);
    font-size: 18px;
}
.jrnlText h2{
    color: black;
    font-size: 25px;
}
.journalCard{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
    width: 700px;
}
.jrnalRight{
margin-top: 120px;
}
.jrnlPosts{
width: 400px;
height: 650px;
padding: 35px, 29px, 36px, 29px;
border-radius: 8px;
gap: 50px;
box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.25);
background: rgba(255, 255, 255, 1);
}
.jrnlPosts h1{
    margin: auto;
    justify-content: left;
    display: flex;
    padding: 10px;
}
@media screen and (max-width: 968px) {
    .jounal1{
        display: flex;
        flex-direction: column;
    }
    .jrnalRight{
        margin: auto;
    }
}
@media screen and (max-width: 750px) {
    .jrnalLeft{
        margin-left: 10px;
    }
    .jrnlText{
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .journalCard{
        gap: 20px;
        width: 500px;
    }
}

@media screen and (max-width: 1050px) {
   .jrnlPosts{
    width: 350px;
   } 
   .jrnalLeft{
    width: 100%;
    
   }
}
@media screen and (max-width: 600px) {
    .journalCard{
        display: grid;
        grid-template-columns: repeat(1, 1fr); 
        gap: 20px; 
    }
}