.cardOuter{
    padding: 10px;
}
.cardInner{
    width: 300px;
    height: 350px;
    padding: 10px;
    box-shadow: 0px 16px 88px 0px rgba(0, 0, 0, 0.08);
    background: rgba(255, 255, 255, 0.002);
    border-radius: 5px;
}
.cardImage img{
    width:280px;
    height: 150px;
margin-bottom: 10px;
}
.cardContent{
width: 280px;
}
.cardHeader{
width: 166px;
height: 35px;
border-radius: 5px;
background-color: rgba(255, 239, 231, 1);

}
.cardHeader h3{
    color: rgba(254, 93, 20, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    padding: 5px;
}
.cardContent h3{
    font-size: 12px;
}
.cardInfo{
    display: flex;
    gap: 40px;
}
.Info{
    display: flex;
    padding: 10px;
    gap: 8px;
}
.Info span{
    font-size: 12px;
    font-weight: 500;
}
.solid{
    width: 260px;
    justify-content: left;
}
@media screen and (max-width: 750px) { 
    .cardOuter{
        margin: auto;
    }
    .cardInner{
    margin: auto;
    }
}

    @media screen and (max-width: 680px) { 
        .cardInner{
            width: 240px;
        }
        .cardImage img{
            width: 220px;
            height: 100px;
        }
        .cardContent{
            width: 240px;
        }
        .cardInfo{
            gap: 40px;
        }.cardContent h3{
            font-size: 10px;
        }
        .solid{
            width: 200px;
        }
        }
        @media screen and (max-width: 600px) { 
            .cardInner{
                width: 300px;
            }
            .cardImage img{
                width: 280px;
                height: 150px;
            }
            .cardContent{
                width: 240px;
            }
            .cardInfo{
                gap: 40px;
            }.cardContent h3{
                font-size: 10px;
            }
            .solid{
                width: 260px;
            }
            }
