.testimonials{
    display: flex;
    flex-direction: row;
    padding: 10px 50px;
    margin: auto;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.tstimonialContent{
    width: 500px;
}
.tstimonialContent h3{
   color: rgba(247, 108, 36, 1)
}
.tstimonialContent h1{
    font-size: 42px;
    font-weight: 700;
    line-height: 51px;
    letter-spacing: 0em;
    text-align: left;
}    
.tstimonialImg img{
    width: 400px;
    height: 300px;
    padding: 10px;
}
.tstimonialTxt{
margin-top: 10px;
}
@media screen and (max-width: 750px) {
    .testimonials{
        padding: 8px;
    }
    .tstimonialContent{
        width: 220px;
    }
    .tstimonialContent h1{
        font-size: 18px;
    }
    .tstimonialImg img{
        width: 250px;
        height: 200px;
    }
    .tstimonialTxt{
        font-size: 12px;
    }
}